torch>=1.12.0
numpy
torchaudio
torchvision
tensorboard
gym==0.26.2
gymnasium[all]==0.26.3
gymnasium[accept-rom-license]==0.26.3
shimmy[atari]==0.1.0
free-mujoco-py==2.1.6
wandb==0.13.5
fire==0.4.0
dill==0.3.6
